<div class="pie">
    <label>© <label for="" id="anio"></label> Alejandro Alba Castillo. Todos los derechos reservados.</label>
</div>

<script>
    $(document).ready(function () {
        const añoActual = new Date().getFullYear();
        console.log(añoActual);
        $("#anio").text(añoActual);
    });
</script>

<style>
    .pie {
        background-color: #004030;
        height: 40px;
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        position: static; 
    }
    label {
        color: white;
        font-size: 20px;
    }
</style>
