---
import imagenPrincipal from '../assets/foto-principal.png';
---

<div class="cabecera">
    <img src={imagenPrincipal.src} height="90" alt="Astro Homepage" />
</div>

<style>
    .cabecera{
        /* 
        004030
        4A9782
        DCD0A8
        FFF9E5
        */
        background-color: #4A9782;
        height: 100px;
        width: 100%;
        /* border-bottom: 1px solid black; */
        position: absolute;
        top:0;
        left: 0;
    }
</style>