---
import "@fortawesome/fontawesome-free/css/all.min.css";
import Header from '../components/Header.astro';
import Footer from "../components/Footer.astro"; // asegúrate que la ruta sea correcta
---

<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/icono.png" />
		<meta name="generator" content={Astro.generator} />
		<title>Pokedex by Alejandro Alba Castillo</title>
		<script
			src="https://cdn.jsdelivr.net/npm/jquery@3.7.1/dist/jquery.min.js"
		></script>
		<link rel="preconnect" href="https://fonts.googleapis.com" />
		<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
		<link
			href="https://fonts.googleapis.com/css2?family=Mogra&display=swap"
			rel="stylesheet"
		/>
	</head>
	<body>
		<div class="layout">
			<Header />
			<main class="contenido">
				<slot />
			</main>
			<Footer />
		</div>
	</body>
</html>

<style>
	html, body {
		margin: 0;
		width: 100%;
		height: 100%;
		background-color: #fff9e5;
		font-family: 'Mogra', cursive;
	}

	.layout {
		display: flex;
		flex-direction: column;
		min-height: 100vh;
	}

	main.contenido {
		flex: 1;
		padding-top: 100px; /* si quieres separar del header */
	}
</style>
